version: '3.6'
services:
  postgres:
    image: postgres:13
    ports:
      - '5432:5432' # expose pg on port 5832 to not collide with pg from elswhere
    restart: always
    environment:
      POSTGRES_PASSWORD: test
      POSTGRES_HOST_AUTH_METHOD: trust
